.container {
    background-color: black;
    justify-content: flex-start;
    display: flex;
  }

.container2 {
    position: relative;
    display: inline-block;
    text-align: center;
}

.containerVideo{
    background-color: black;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
 
.container3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 1px solid gray;
  }

  .container34 {
    background-color: black;
    justify-content: flex-start;
    flex-direction: column;

  }


  .container33 {
    background-color: black;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  }

  .container4 {
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.container44 {
    align-items: baseline;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.container5 {
    position: relative;
    display: inline-block;
    justify-content: flex-start;
    flex-direction: column;
    
}

.img2 {
    position: absolute;
    opacity: 0.9;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.center-down {
    position: absolute;
    font-style: italic;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 45px;
    font-family: 'Vidaloka', serif;
}

.center-up {
    position: absolute;
    font-style: italic;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 45px;
    font-family: 'Prata', serif;
}

.center {
    position: absolute;
    font-style: italic;
    top: 23%;
    left: 20%;
    transform: translate(-12%, -10%);
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    font-family: 'Arapey', serif;
}


.item {
    align-self: center;
}


.title {
    font-family: 'Old Standard TT', serif;
    color: white;
    font-size: 30px;
}

.title2 {
    margin: 20px;
    font-family: 'Vidaloka', serif;
    color: black;
    font-size: 30px;
}

.title23 {
    margin: 20px;
    margin-left: 40px;
    font-family: 'Vidaloka', serif;
    color: white;
    font-size: 30px;
}

.title22 {
    top: 80%;
    margin: 20px;
    font-family: 'Vidaloka', serif;
    color: white;
    font-size: 30px;
}

.title3 {
    margin-left: 20px;
    font-family: 'Vidaloka', serif;
    color: black;
    font-size: 20px;
}

.title33 {
    margin-left: 20px;
    font-family: 'Vidaloka', serif;
    color: white;
    font-size: 20px;
}


.title4 {
    margin: 10px;
    margin-left: 20px;
    font-family: 'Old Standard TT', serif;
    color: gray;
    font-size: 20px;
}

.title5 {
    position: absolute;
    left: 42%;
    margin-top: 20px;
    font-family: 'Vidaloka', serif;
    color: white;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.text {
    margin-left: 20px;
    font-family: 'Arapey', serif; 
    color: gray;
    font-size: 17px;
}

.texto-encima{
    position: absolute;
    font-family: 'Old Standard TT', serif;
    color: white;
    text-align: justify;
    font-size: 20px;
    top: 60%;
    margin: 20px;
}


.item2 {
    position: absolute;
    font-family: 'Old Standard TT', serif;
    font-size: 20px;
    margin: 20px;
}

p {
    opacity: 0;
}